<ng-container *ngIf="fieldType === 'TEXT'">
    <div class="flex-column">
        <label for="name">{{label}}</label>
        <input type="text" [id]="name" [name]="name" [(ngModel)]="value" (ngModelChange)="onValueChange()"/>
    </div>
    <!-- {{value}} -->
</ng-container>
<ng-container *ngIf="fieldType === 'TEXT_AREA'">
    <div class="flex-column">
        <label for="name">{{label}}</label>
        <textarea [id]="name" [name]="name" [(ngModel)]="value" (ngModelChange)="onValueChange()"></textarea>
    </div>
</ng-container>
<ng-container *ngIf="fieldType === 'NUMBER'">
    <label for="name">{{label}}</label>
    <input type="number" id="name" [name]="name">
</ng-container>