<form> 
    <div class="width-100 recipe-detail-container">
        <app-button *ngIf="!editMode" icon="edit" (click)="startEditMode()"></app-button>
        
        <h2 *ngIf="!editMode" >{{recipe.title}}</h2>
        <app-field *ngIf="editMode" fieldType="TEXT" label="Recipe Title" name="title" [(value)]="recipe.title"></app-field>

        <p>{{recipe.description}}</p>

        <b>Ingredients:</b>
        <ul *ngFor="let ingredient of recipe.ingredients">
            <li>
                {{ingredient.amountOfMeasurement + MeasurementLabels[ingredient.measurement] + ' ' + ingredient.description}}
            </li>
        </ul>

        <b>Methods:</b>
        <ng-container *ngFor="let method of recipe.methods; index as i">
            <p>
                {{i + 1 + '. ' + method.description}}
            </p>
        </ng-container>
    </div>
</form>