.recipe-detail-container {
    background-color: var(--primary-shade-color) !important;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 2px var(--shadow-1);
}

h2 {
    margin-top: 10px;
    margin-bottom: 0;
}