<div class="top-bar width-100 flex-row content-spread">
    <div>
        <!-- logo -->
        <a href="./"><img src="../assets/recipe_vault_logo.png" alt="Recipe Vault Logo" aria-placeholder="boba drink"></a>
    </div>
    <div>
        <!-- search -->
        
    </div>
    <div class="flex-row">
        <div>
            <!-- add button -->
            <app-button icon="add" label="Add">
            </app-button>
        </div>
        <div>
            <app-button icon="notifications"></app-button>
        </div>
        <div>
            <app-button icon="account_circle"></app-button>
        </div>
    </div>
</div>