<div class="top-bar width-100 flex-row content-spread">
    <!-- Logo image -->
    <div class="logo-img">
        <a href="./"><img src="../assets/recipe_vault_logo.png" width="200px" alt="Recipe Vault Logo" aria-placeholder="boba drink"></a>
    </div>
    <div>
        <!-- search -->
        
    </div>
    <div class="flex-row">
        <!-- Add button -->
        <div class="header-button">
            <app-button icon="add" label="Add"></app-button>
        </div>
        
        <!-- Notification button -->
        <div class="header-button">
            <app-button icon="notifications"></app-button>
        </div>
        
        <!-- User button -->
        <div class="header-button">
            <app-button icon="account_circle"></app-button>
        </div>
    </div>
</div>