<div class="top-bar width-100 flex-row content-spread">
    <div class="logo-img">
        <!-- Logo Image -->
        <a href="./"><img src="../assets/recipe_vault_logo_5.png" width="200px" alt="Recipe Vault Logo" aria-placeholder="boba drink"></a>
    </div>
    <div>
        <!-- search -->
        
    </div>
    <div class="flex-row">
        <div class="header-button">
            <!-- add button -->
            <app-button icon="add" label="Add">
            </app-button>
        </div>
        <!-- Notification Button -->
        <div class="header-button">
            <app-button icon="notifications"></app-button>
        </div>
        <!-- User Button -->
        <div class="header-button">
            <app-button icon="account_circle"></app-button>
        </div>
    </div>
</div>