/* You can add global styles to this file, and also import other style files */
// Primary Color (Main Accent):

// Tomato Red: #FF6347
// Secondary Colors:

// Olive Green: #808000
// Eggplant Purple: #6A5ACD
// Mustard Yellow: #FFD700
// Neutral Colors for Background and Text:

// Light Cream: #FFF5E1
// Charcoal Gray: #333333
// Accent Color for Calls-to-Action:

// Basil Green: #3CB371
// Background Color:

// Light Gray: #F5F5F5
:root {
    --primary-color: #F9E7E7; //Lavender bush
    --secondary-color: #98589c; // Finn
    --primary-shade-color: #faf7f7; // chiense violet
    --primary-shade-2-color: #69306D;
    --accent-color: #6BBAEC; // Penn Blue
    
    --shadow-1: rgba(0, 0, 0, 0.2);
    --text-1: rgb(5, 5, 5);
}
body {
    background-color: var(--primary-color);
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.width-100 {
    width: 100%;
}

.flex-growth-1 {
    flex-grow: 1;
}

.content-spread {
    display: flex;
    justify-content: space-between;
}

.content-center {
    display: grid;
    place-items: center;
}

a:link { 
    text-decoration: none; 
    color: var(--text-1);
} 

a:visited{
    text-decoration: none; 
    color: var(--text-1);
}

a:focus { 
    text-decoration: none; 
    color: var(--accent-color);
}

ul {
    margin:0; 
    padding: 0 0 0 20px;
} 

h3 {
    padding: 0;
    margin: 0;
}