<div class="main-div width-100">
    <div class="top-bar width-100 flex-row content-spread">
        <div>
            <img src="../assets/recipe_vault_logo.png" aria-placeholder="boba drink">
            <!-- logo -->
        </div>
        <div>
            <!-- search -->
            search
        </div>
        <div class="flex-row">
            <div>
                <!-- add button -->
                <app-button icon="add" label="Add">
                </app-button>
            </div>
            <div>
                <app-button icon="notifications"></app-button>
            </div>
            <div>
                <app-button icon="account_circle"></app-button>
            </div>
        </div>
    </div>
    <div class="width-100 content-center">
        <app-recipe-list></app-recipe-list>
    </div>
</div>
